<div class="container" fxLayout="column" fxLayoutGap="1rem" fxLayoutAllign="space-around">
    <div>
        <p *ngIf="this.currentuser" class="mat-caption right">
            Angemeldet als <span> {{this.currentuser.anrede?this.currentuser.anrede+"
                "+this.currentuser.lastname:"" }}</span></p>
        <div class="brandingpicture" [ngClass]="{'smallheader': this.currentuser}">
            <h1>Ambulante Akut- und Notfälle in Deutschland</h1>
        </div>
        <p *ngIf="this.metadata.length==0 && !this.currentuser && !this.progress">
            Es sind aktuell keine öffentlichen Informationen auf diesem Portal verfügbar.
        </p>
        <p *ngIf="(this.metadata.length==0) && this.currentuser && !this.progress">
            Es sind keine Daten im System, bitte wenden Sie sich an einen Administrator.
        </p>
    </div>

    <div *ngIf="this.progress &&  this.currentuser">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="this.metadata && !this.progress">
        <ng-container *ngIf="this.metadata.length>0 && this.levelvalues.length>0">
            <h3 *ngIf="this.currentuser">Bundesland</h3>
            <p *ngIf="this.currentuser">
                <mat-chip-list>
                    <mat-chip (click)="this.setlevel('levelvalues',item);" *ngFor="let item of this.levelvalues"
                        [selected]="(this.levelsettings['levelvalues']==item)" color="primary">
                        {{item.replace('KV ','')}}
                    </mat-chip>
                </mat-chip-list>
            </p>
            <h3>Analysezeitraum</h3>
            <p>
                <mat-chip-list>
                    <mat-chip (click)="this.setlevel('zeitraum',item);" *ngFor="let item of this.zeitaumoptions"
                        [selected]="(this.levelsettings['zeitraum']==item)" color="primary">
                        {{item}}
                    </mat-chip>
                </mat-chip-list>
            </p>
            <p *ngIf="this.levelsettings['zeitraum']=='Detailliert'">
                <mat-form-field appearance="fill">
                    <mat-label>Analysezeitraum</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input (dateChange)="smeddetailquery()" matStartDate placeholder="Start date" [(ngModel)]="this.levelsettings['start']">
                      <input (dateChange)="smeddetailquery()" matEndDate placeholder="End date" [(ngModel)]="this.levelsettings['end']">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
            </p>            
        </ng-container>
    </div>    
    <div *ngIf="!this.summaryinfo['done'] && !this.progress && (this.metadata.length>0) && 
    (this.levelsettings['zeitraum']!=='Detailliert' || (this.levelsettings['start'] && this.levelsettings['end']))">
        <p>
            Keine Daten verfügbar
        </p>
    </div>
    <div *ngIf="this.symptoms_list && this.stats_ts && this.summaryinfo['done']" fxLayout="row wrap">
        <div class="lightgreycolor mat-caption" fxFlex=100 >
            
                <p><strong>Ersteinschätzung am Telefon</strong></p>
                <p> Auswertung der Ergebnisse der strukturierten Ersteinschätzung im Rahmen von Anrufen bei der 116 117. Die Software SmED wird aktuell noch nicht in allen KVen eingesetzt. Dadurch liegen nicht für alle KVen entsprechende Auswertungen vor.</p>
            
        </div>
        <div fxFlex=100 >
            <mat-card >
                <div  fxLayout="row wrap">
                <div fxFlex  fxFlex.lt-md=100>
                    <app-box 
                    [value]="this.summaryinfo['Assessments Gesamt']"  [numberformat]="'1.0-0'"
                    [maincolor]="this.api.primary" 
                    description="Assessments"></app-box>
                </div>
                <div fxFlex fxFlex.lt-md=100>
                    <app-box  [numberformat]="'1.0-0'"
                    [value]="this.summaryinfo['Assessments pro Woche']" 
                    description="pro Woche"></app-box>
                </div>
                <div fxFlex fxFlex.lt-md=100>
                    <app-box [textbehind]="true"   title="min" [numberformat]="'1.1-1'"
                    [value]="this.summaryinfo['Mittlere Dauer']/60" 
                    description="Dauer"></app-box>
                </div> 
                </div>            
            </mat-card>

        </div>
        <div fxFlex=33 fxFlex.lt-md=100 *ngIf="this.symptoms_list && this.stats_ts  ">
            <mat-card>
                <h3>Assessments pro Woche</h3>
                <app-plot [(data)]="this.stats_ts" xtickformat="%d.%m.<br>%Y" [xvalue]="'Datum'" [outcomes]="['Anzahl']"
                    [fontcolor]="'white'" plottype="area"></app-plot>
                    <p  *ngIf="this.currentuser"><a class="lightgreycolor" (click)="this.exportascsv('zeitreihe.csv',this.stats_ts)">
                        <mat-icon>file_download</mat-icon>
                    </a></p>
            </mat-card>
        </div>
        <div fxFlex=34 fxFlex.lt-md=100 *ngIf="this.symptoms_list && this.stats_ts ">
            <mat-card>
                <h3>Mittlere Dauer pro Assessment</h3>
                <app-plot [(data)]="this.stats_ts" xtickformat="%d.%m.<br>%Y" [xvalue]="'Datum'"
                    [fontcolor]="'white'" [colorscheme]="['rgb(183,205,0)']"
                    [outcomes]="['Mittlere Dauer (Min.)']" plottype="tsline"></app-plot>
                    <p *ngIf="this.currentuser"><a class="lightgreycolor" (click)="this.exportascsv('zeitreihe.csv',this.stats_ts)">
                        <mat-icon>file_download</mat-icon>
                    </a></p>
            </mat-card>
            
        </div>
        <div fxFlex=33 fxFlex.lt-md=100 *ngIf="this.symptoms_list && this.stats_ts ">
            <mat-card>
                <h3>Fragen pro Assessment</h3>
                <app-plot [(data)]="this.stats_ts" xtickformat="%d.%m.<br>%Y" [xvalue]="'Datum'"
                    [fontcolor]="'white'" [colorscheme]="['orange']"
                    [outcomes]="['Mittlere Anzahl Fragen']" plottype="tsline"></app-plot>
                    <p *ngIf="this.currentuser"><a class="lightgreycolor" (click)="this.exportascsv('zeitreihe.csv',this.stats_ts)">
                        <mat-icon>file_download</mat-icon>
                    </a></p>
            </mat-card>
        </div>
        <div fxFlex=100>
            <mat-card>
                <h3>Aufkommen nach Tag und Uhrzeit</h3>
                <app-plot [(data)]="this.utiltimes" [xvalue]="'Wochentag'"
                    [fontcolor]="'white'" 
                    [outcomes]="['Anzahl']"  [colorby]="'h'" plottype="stackedbar">
                </app-plot>
                <p *ngIf="this.currentuser"><a class="lightgreycolor" (click)="this.exportascsv('zeiten.csv',this.utiltimes)">
                    <mat-icon>file_download</mat-icon>
                </a></p>
            </mat-card>
        </div>
        <div fxFlex=100>
            <mat-card>
                <h3>Empfehlungen und Entscheidungen zur Dringlichkeit</h3>
                <app-plot [(data)]="this.decisions" [xvalue]="'Empfehlung'"
                    [fontcolor]="'white'" [showlegend]="true" 
                    [outcomes]="['Anzahl']"  [colorby]="'TTTdispo_text'" plottype="hbar">
                </app-plot>
                <p *ngIf="this.currentuser"><a class="lightgreycolor" 
                    (click)="this.exportascsv('entscheidungen.csv',this.decisions)">
                    <mat-icon>file_download</mat-icon>
                </a></p>
            </mat-card>
        </div>
        <div fxFlex=100>
            <mat-card>
                <h3>Anteil Hauptbeschwerden</h3>
                <app-plot [(data)]="this.symptoms_list" [xvalue]="'name'" [percent]="true"
                    [fontcolor]="'white'" [sort]="true" (clicked)="handleklick('Beschwerden',$event);"
                    [outcomes]="['Anteil']" plottype="hbar"></app-plot>
                    <p *ngIf="this.currentuser"><a class="lightgreycolor" (click)="this.exportascsv('symptome.csv',this.symptoms_list_export)">
                        <mat-icon>file_download</mat-icon>
                    </a></p>
                    <p class="mat-caption lightgreycolor">Hinweis: Dieser Anteil wird monatsweise bestimmt.</p>
            </mat-card>
        </div>
        <!-- Detailergebnisse für kleine Zeiträume -->
        <ng-container *ngIf="false && this.levelsettings['zeitraum']!=='Gesamt' && this.currentuser && (this.levelsettings['anperioddays']<=64)">
        <div fxFlex=100 fxFlex.lt-md=100>
            <mat-card>
                <h3>Dringlichkeit der Behandlung</h3>
                <div *ngIf="!this.ts_results['1_dingl_ort']">
                    <mat-card class="fakecontent">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <div>
                                <h1><mat-icon>insights</mat-icon></h1>
                               <mat-spinner [diameter]="30"></mat-spinner>
                            </div>
                        </div>
                    </mat-card>                                        
                </div>
                <div  *ngIf="this.ts_results['1_dingl_ort']">
                    <ng-container *ngIf="this.ts_results['1_dingl_ort'].length>0">
                        <app-plot
                        [(data)]="this.ts_results['1_dingl_ort']" 
                        [xvalue]="'TTTsmed_text'"
                        [fontcolor]="'white'"  
                        [legendbg]="'#00000020'"
                        [legendpos]="'right'"
                        [outcomes]="['count']" 
                        [custommargins]="{ l: 20, r: 0, b: 0, t: 20 }"
                        [colorby]="'POCsmed_text'" plottype="stackedbar"
                        ></app-plot>                       
                    </ng-container>                    
                    <ng-container *ngIf="!(this.ts_results['1_dingl_ort'].length>0)">
                        <p>Keine Daten</p>
                    </ng-container>                    
                </div>
                <p class="mat-caption greycolor">Ergebnis zu empfohlenem Behandlungsort und -zeitpunkt.</p>
              
            </mat-card>
        </div>
       <!--  <div fxFlex=50 fxFlex.lt-md=100         *ngIf="this.currentuser">
            <mat-card>
                <h3>Abweichung zwischen Empfehlung und Entscheidung</h3>
                <div *ngIf="!this.ts_results['2_abweichung']">
                    <mat-card class="fakecontent">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <div>
                                <h1><mat-icon>insights</mat-icon></h1>
                               <mat-spinner [diameter]="30"></mat-spinner>
                            </div>
                        </div>
                    </mat-card>                                        
                </div>
                <div  *ngIf="this.ts_results['2_abweichung']">
                    <ng-container *ngIf="this.ts_results['2_abweichung'].length>0">
                        Ergebnis:
                        {{this.ts_results['2_abweichung'] | json}}
                    </ng-container>                    
                    <ng-container *ngIf="!(this.ts_results['2_abweichung'].length>0)">
                        <p>Keine Daten</p>
                    </ng-container>                    
                </div>
                <p class="mat-caption greycolor">Nur für den internen Gebrauch.</p>              
            </mat-card>
        </div> -->
        <div fxFlex=100 fxFlex.lt-md=100>
            <mat-card>
                <h3>Dauer nach Hauptbeschwerde</h3>
                <div *ngIf="!this.ts_results['3_dauer_sympt']">
                    <mat-card class="fakecontent">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <div>
                                <h1><mat-icon>insights</mat-icon></h1>
                               <mat-spinner [diameter]="30"></mat-spinner>
                            </div>
                        </div>
                    </mat-card>                                        
                </div>
                <div  *ngIf="this.ts_results['3_dauer_sympt']">
                    <ng-container *ngIf="this.ts_results['3_dauer_sympt'].length>0">
                        <app-plot
                        [(data)]="this.ts_results['3_dauer_sympt']" 
                        [xvalue]="'Hauptbeschwerde'"
                        [fontcolor]="'white'"  
                        [outcomes]="['Dauer_sek']" 
                        [custommargins]="{ l: 20, r: 20, b: 20, t: 20 }"
                        plottype="hbar"
                        ></app-plot>            
                    </ng-container>                    
                    <ng-container *ngIf="!(this.ts_results['3_dauer_sympt'].length>0)">
                        <p>Keine Daten</p>
                    </ng-container>                    
                </div>
                <p class="mat-caption greycolor">Dauer der Ersteinschätzung nach den häufigsten Hauptbeschwerden.</p>              
            </mat-card>
        </div>
    
    <div fxFlex fxFlex.lt-md=100>
        <mat-card>
            <h3>Dringlichkeit nach Hauptbeschwerde</h3>
            <div *ngIf="!this.ts_results['4_dringl_symp']">
                <mat-card class="fakecontent">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <div>
                            <h1><mat-icon>insights</mat-icon></h1>
                           <mat-spinner [diameter]="30"></mat-spinner>
                        </div>
                    </div>
                </mat-card>                                        
            </div>
            <div  *ngIf="this.ts_results['4_dringl_symp']">
                <ng-container *ngIf="this.ts_results['4_dringl_symp'].length>0">
                    <app-plot
                    [data]="this.ts_results['4_dringl_symp']" 
                    [xvalue]="'Hauptbeschwerde'"
                    [fontcolor]="'white'"  
                    [legendbg]="'#00000020'"
                    [legendpos]="'right'"
                    [outcomes]="['count']" 
                    [custommargins]="{ l: 20, r: 20, b: 20, t: 20 }"
                    [colorby]="'TTTsmed_text'" plottype="stackedbar"
                    ></app-plot>          
                    <!-- Ergebnis:
                    {{this.ts_results['4_dringl_symp'] | json}} -->
                </ng-container>                    
                <ng-container *ngIf="!(this.ts_results['4_dringl_symp'].length>0)">
                    <p>Keine Daten</p>
                </ng-container>                    
            </div>
            <p class="mat-caption greycolor">Dinglichkeit der Behandlung nach den häufigsten Hauptbeschwerden.</p>
          
        </mat-card>
    </div>      
    </ng-container>
</div>
    

</div>