<div class="container" fxLayout="column" fxLayoutGap="30px">
    <div>
        <h1 ngClass.lt-sm="mobileheading">Tool für erweiterte Analysen</h1>
        <p class="grey">In diesem Bereich ist zukünftig ein Zugriff auf faktisch anonymisierte Individualdatensätze möglich. Er befindet sich aktuell in der Entwicklung.</p>
    </div>
    <div *ngIf="false">
<!--         <mat-slide-toggle color="primary" labelPosition='after' *ngIf="this.settings['analyzeall']"
        (toggleChange)="this.updatequery('analyzeall',!this.settings['analyzeall']);"
        [checked]="this.settings['analyzeall']"
        >Bundesweite Analyse</mat-slide-toggle> -->
        <div>
            <p >
                <mat-form-field appearance="fill">
                    <mat-label>Analysezeitraum</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Beginn" 
                        (dateChange)="this.updatequery('__change',true)"
                        [(ngModel)]="this.settings['start']">
                        <input matEndDate placeholder="Ende" 
                        (dateChange)="this.updatequery('__change',true)"
                        [(ngModel)]="this.settings['end']">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </p>
            <p>
                Dauer {{this.duration}}
            </p>
        </div>
        <div >        
        <h3>Region</h3>
        <p>
            <mat-chip-list>
                <mat-chip (click)="this.updatequery('levelid',item);" *ngFor="let item of this.levelvalues"
                    [selected]="(this.settings['levelid']==item)" color="primary">
                    {{item}}
                </mat-chip>
            </mat-chip-list>
        </p>
        </div>
        <div>
        <h3>Outcome</h3>
        <p>
            <mat-chip-list>
                <mat-chip (click)="this.updatequery('outcome',item);" *ngFor="let item of this.outcomes"
                    [selected]="(this.settings['outcome']==item)" color="primary">
                    {{item}}
                </mat-chip>
            </mat-chip-list>
        </p>
        </div>
        <div *ngIf="this.settings['outcome']">
            <h3>Differenzierungsmerkmale</h3>
            <p>
                <mat-chip-list multiple>
                    <mat-chip (click)="this.updatequery('diffmerkmale',item);" *ngFor="let item of this.diffmerkmale"
                        [selected]="(this.settings['diffmerkmale'].includes(item))" color="primary">
                        {{item}}
                    </mat-chip>
                </mat-chip-list>
            </p>
            </div>
            <div>
                <p><strong>Settings</strong></p>
                <p>{{this.settings | json}}</p>
        
            </div>
            <div>
                <p><strong>Query</strong></p>
                <p>{{this.tsquery | json}}</p>
        
            </div>
            <div>
                <p><strong>Result</strong></p>
                <p>{{this.tsqueryresult | json}}</p>
        
            </div>
    </div>
    

</div>